#imageTop{
  background-image: url("/images/james-barbosa-qOWjDs-77cM-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}
body{
  background-color: black;
}
#mainTitle{
  text-shadow: black 3px 3px;
}
.jumbotron{
  background-color: black;
}
.navbar{
  background-color: black;
  width: 100%;
  justify-content: center;
}